

<div class="row">
    <div class="col-xs-1 col-md-8">
        <h4>Försäljningsrapport</h4>
        <h6>per månad</h6>

        <div class="form-group">



            <table class="table">

                <thead>
                <tr>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>


                    </td>
                    <td>
                <tr ng-repeat="month in totalsByMonth">
                    <td ng-click="monthSelected(month.monthAndYear)"><strong>{{month.monthAndYear + " - "}}</strong>{{month.total}} kr </td>
                    <td>

                    </td>
                    <!--<td><strong>{{auction.endTime |  date: "MMMM"}}</strong> {{auction.highestBid}}</td>-->
                </tr>
                    </td>
                </tr>

                </tbody>
            </table>
            <a href="/admin/sales">See All</a>

        </div>
    </div>
</div>