<div class="col-sm-8 text-left">
    <div class="form-group">

        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="auction in auctions | filter: {categoryId: categorySelected.id, name: query }">
                <td>
                    <strong>{{ auction.name }}</strong><br><br>
                    <img src="{{ auction.imageUrl }}" ng-click="auctionClicked(auction.id)" width="200px">
                </td>
                <td width="300px">
                    <br><br>
                    <strong>Auktionens starttid:</strong> {{ time(auction.startTime) }}<br><br>
                    <strong>Auktionens sluttid:</strong> {{time(auction.endTime)}}<br><br>
                    <strong>Auktionens acceptpris:</strong> {{ auction.buyNowPrice }} kr <br>
                    <strong>supplier name:</strong> {{auction.supplierName}}<br><br>
                    <strong>percent:</strong> {{ auction.supplierPercent }}<br><br>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
</div>