<div class="col-sm-8 text-left">
    <div class="form-group">

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                        <img src="{{ auction.imageUrl }}" ng-click="auctionClicked(auction.id)" width="200px">
                    </td>
                    <td width="300px">
                        <strong>{{ auction.name }}</strong><br><br>
                        <strong>Auktionens starttid:</strong> {{ auction.startTime }}<br><br>
                        <strong>Auktionens sluttid:</strong> {{ auction.endTime}}<br><br>
                        <strong>Auktionens bud:</strong> {{ auction.price }} kr<br><br>
                        <strong>Auktionens acceptpris:</strong> {{ auction.buyNowPrice }} kr<br><br>
                        <span id="prodesc">{{ auction.description }}</span><br><br>
                        <button ng-click="">Leverantör</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <br><br>
        <button ng-click="auctionClickedInDetails(auction.id)">Tillbaka</button>&nbsp;
        <button ng-click="">Buda</button>&nbsp;
        <button ng-click="">Köp nu</button>

    </div>
</div>